<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <h1>{% if view %}Class-Based View{% else %}Function-Based View{% endif %}</h1>
    <div class="student-list" style="margin:35px; display:flex; flex-warp:warp; gap:50px">
        
        {% for coverpage in covers %}
        <div style="background-color: #fff; width: 300px; border-radius: 10px; box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.1); overflow: hidden; text-align: center; padding:28px; padding-top: 45px; padding-bottom:45px">
            <div style="" class="student-card">
                <div ><img src="https://i.ibb.co.com/QrpBVj2/cropped-Untitled-design.png" style="max-width:100px; max-higth:100px;"/></div>
                <p>{{ coverpage.uniName }}</p>
                <p><strong>Name: </strong>{{ coverpage.sname }}</p>
                <p><strong>Id: </strong>{{ coverpage.sid}}</p>
                <p><strong>Session: </strong>{{ coverpage.session }}</p>
                <p><strong>course_code:</strong>{{coverpage.coruse_code}}</P>
            
        </div>
        </div>
    {% endfor %}
</div>

</body>
</html>